@import 'tailwindcss';

.rendered_post h1 {
  @apply mt-12 mb-4 text-2xl leading-snug font-bold sm:text-3xl sm:leading-[2.5rem] md:text-4xl md:leading-[3rem] lg:text-[3rem] lg:leading-[3.5rem];
}

.rendered_post h2 {
  @apply mt-8 mb-4 text-xl leading-snug font-bold sm:text-2xl sm:leading-[2.25rem] md:text-3xl md:leading-[2.75rem] lg:text-[2.5rem] lg:leading-[3rem];
}

.rendered_post h3 {
  @apply mt-6 mb-4 text-lg leading-snug font-bold sm:text-xl sm:leading-7 md:text-[1.5rem] md:leading-[2.25rem] lg:text-[2rem] lg:leading-[2.25rem];
}

.rendered_post p {
  @apply mb-4 text-base leading-relaxed sm:text-lg md:text-[1.1rem] md:leading-6;
}

.rendered_post ul {
  @apply mb-4 list-disc pl-8;
}

.rendered_post ol {
  @apply mb-4 list-decimal pl-8;
}

.rendered_post code:not(pre code) {
  @apply rounded-sm bg-[var(--color-accent)] px-2 py-1 text-sm;
}

.rendered_post a {
  @apply text-[var(--color-blue-500)] underline transition hover:opacity-80;
}

.rendered_post pre {
  @apply my-1 max-w-full overflow-auto text-base;
}

.rendered_post pre code {
  @apply rounded-md;
}

.rendered_post blockquote {
  @apply border-s-4 border-[var(--color-primary)] bg-[var(--color-card)] py-6 ps-4 pe-2;
}

.rendered_post table {
  @apply my-6 w-full min-w-[640px] overflow-x-auto;
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: auto;
}

.rendered_post table p {
  @apply m-0;
}

.rendered_post th,
.rendered_post td {
  @apply border border-[var(--color-border)] bg-[var(--color-background)] p-3 text-left text-sm text-[var(--color-foreground)];
}

.rendered_post th {
  @apply bg-[var(--color-accent)] text-center font-semibold whitespace-nowrap;
}

.rendered_post iframe {
  @apply mx-auto aspect-[16/9] w-full max-w-3xl;
}

.rendered_post img {
  @apply mx-auto my-4 block w-full max-w-3xl border border-[var(--color-border)];
}

html.dark .rendered_post {
  @import './hljs-dark.css';
}

html.light .rendered_post {
  @import './hljs-light.css';
}
